.todo-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgb(49, 49, 49);
    width: 100%;
}

.list-item-wraper{
    padding: 20px;
    border: solid 2px #9c9c9c8c;
    border-radius: 10px;
    max-width: 700px;
    width: 85%;
    display: grid;
    align-items: center;
    grid-template-columns: 2rem 1fr 2rem;
    justify-content: flex-start;
    gap: 10px;
}

.todo-check{
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 100%;
    border: solid 2px #22004e8c
}


.icon-trash{
    font-size: 2rem;
    justify-self: flex-end;
    color: rgb(107, 107, 107);
}